/*barra de navegacion */

.nav-link:hover {
    
   color: brown;

}

.navbar-collapse { 
   align-items:center;
    justify-content:space-between;
    font-size: small;
}

@media screen and (max-width:767px){
    .navbar-brand {
        display: none;
    }

}

@media screen and (min-width: 700px) {

    .hero-inferior-imagen {
        max-width: 600px;




    }
    


    
}

section {
    display: flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;

}

h1 {
    font-size: 4rem;
    padding: 2%;
    font-family: 'Protest Riot', normal;
    
}
.hero-principal h2 {
    font-family: 'Protest Riot', normal;
    font-size: 4rem;
}

.hero {
min-height: 450px;
background-color:#f5f7f9;
text-align: center;


}

.hero-principal {
    padding: 3rem;

}

.hero-imagen-perfil{

    border-radius: 80%;
    height: 250px;
    width: 215px;
}

.seccion-oscura {
    background-color:dimgrey;
    color: beige;
    
}


  