/*barra de navegacion */

.nav-link:hover {
    
   color: brown;
   }

.navbar-collapse { 
   align-items:center;
    justify-content:space-between;
    font-size: small;
    font-size: 0.8rem;
}

@media screen and (max-width:767px){
    .navbar-brand {
        display: none;
    }

}

@media screen and (max-width:767px){
    .navbar-nav{
        font-size: 1rem;
    }

}

@media screen and (min-width: 700px) {

    .hero-inferior-imagen {
        max-width: 600px;
    }    
}

@media screen and (max-width:767px) {
    .hero-principal h1  {
        font-size:2rem;
    }

    
}

@media screen and (max-width:767px) {
    .hero-principal .subtitulo {
        font-size: 2rem;
    }
    
}




section {
    display: flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;

}

h1 {
    font-size: 4rem;
    padding: 2%;
    font-family: 'Protest Riot', normal;
    
}
.hero-principal h2 {
    font-family: 'Protest Riot', normal;
    font-size: 4rem;
}

.hero {
min-height: 450px;
background-color:#f6f9f5;
text-align: center;


}

.hero-principal {
    padding: 3rem;
    /* background-image: url(imagenes/Background_principal.jpg); */
    background-size:cover;
    background-repeat:no-repeat;

}

.hero-imagen-perfil{

    border-radius: 80%;
    height: 250px;
    width: 215px;
    box-shadow: rgba(50,4,5,0.4) 3px 3px 5px ;
}

.seccion-oscura {
    background-color:dimgrey ;
    
    color: beige;
    }

    .sobre-mi{
        height: 300px;
        padding: 10px;
    }
.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}
.seccion-titulo {
    font-size: 2rem;
    font-family: 'Protest Riot', normal;

}
.hero-imagen-perfil:hover {
    transform:scale(1.03);
    transition: 1s;
}

  