* {
    margin: 0px;
    padding: 0px;
    }





#cajapadre{
   
    display: flex;
    width: 600px;
    
    border: 2px solid;    
    }

.restaurar {
    clear: both;
}

#caja1{
    
    flex: 1 1 200px;
 
  height: 145px;
  margin: 5px  ;
  background-color: blue;
 
 
 
 }




#caja2{

    flex: 1 1 100px;
    height: 145px;
    
    
    margin: 5px  ;
    background-color: bisque;
 
 }

 #caja3{
    flex: 1 1 100px;
    height: 145px;
    margin: 5px;
    background-color: rgb(219, 170, 66);
 
 
}
#caja4{
    flex: 1 1 100px;
    height: 145px;
    
    margin: 5px  ;
 background-color: rgb(177, 177, 112);
 
 
 
}




